

<div class="container-content">
    <div class="m-3">
        <img style="width: 100%; height: 100%" src="https://github.com/skempas/isabelle-och-oskar/blob/master/src/assets/img/flower.jpg?raw=true">
        </div>
        <div class="card main-card m-3">
            <div class="card-body text-center">
                <div>ÖVRIGT                </div>
<div>GOTT OCH BLANDAT</div>
Tågstationen närmast: Älmhult och Diö
Boende på annat håll: Älmhult
Taxi:
Packa badkläder då vi hoppas på en solig augusti-helg
och har egen strand och brygga under helgen!   
<div>BARN OCH HUSDJUR</div> 
    Är superhärliga men tyvärr inte välkomna på vigsel eller bröllopsfesten!
            </div>
        </div>

    <div class="card sub-card m-3">
        <div class="card-body">
            Bild på herrgård här
        </div>
    </div>
    <div class="m-3">
    <img style="width: 100%; height: 100%" src="https://github.com/skempas/isabelle-och-oskar/blob/master/src/assets/img/flower.jpg?raw=true">
    </div>

</div>