<h1> FREDAGENS BUFFE-MENY </h1><br>
        Grillad lax med ingefära och lime <br><br>

        Grillad gris från Nedanbäcks gård<br><br>
        
        Grillad portabello med vitlök och persilja<br><br>
        
        Sommarsvamppaj<br><br>
        
        Ljummen färskpotatissallad med sparris, salladslök och rädisor<br><br>
        
        Quinoasallad med rostad broccoli, tomat, olivolja, chili och lime<br><br>
        
        Grönsallad med solrosskott, krasse<br><br>
        
        Mango- och avokadosallad med jordgubbsvinägrett<br><br>
        
        Herrgårdens barbecuesås<br><br>
        
        Basilika-aioli<br><br>
        
        Vit chokladmousse med rabarberkompott<br><br>
 
    
