

<div class="container-content">
<div class="h1">DRESSCODE</div><br>
<div>KLÄDSEL</div><br>

Klädkod för gäster: "kavaj", 
men medge ljusare färger,
pastell och roliga skjortor.
<br><br>
Herrar<br>
Kavaj innebär för herrar att man ska bära kostym.
Valfriheten är dock stor vad gäller färg, både på själva
kostymen och skjortan. Kostymen kan vara både
tvådelad, eller tredelad (med väst).<br><br>
Damer<br>
Klänning, kjol, byxdress eller dräkt. Det ska vara
elegant men inte lika uppklätt som en mörk
aftonklädsel. Klänning eller kjol ska minst gå ned till
knäna.
    

</div>