

<div class="container-content">
    <div class="m-3">
        <img style="width: 100%; height: 100%" src="https://github.com/skempas/isabelle-och-oskar/blob/master/src/assets/img/flower.jpg?raw=true">
        </div>
        <div class="card main-card m-3">
            <div class="card-body text-center">
                <div>BRÖLLOPSGÅVA</div>
<div>ATT SE ER DÄR!</div>
Önskar man ändå ger något så är det
swish med valfritt belopp som spons
till vår bröllopsresa till seychellerna!   
            </div>
        </div>

    <div class="card sub-card m-3">
        <div class="card-body">
            Bild på seychellerna här
        </div>
    </div>
    <div class="m-3">
    <img style="width: 100%; height: 100%" src="https://github.com/skempas/isabelle-och-oskar/blob/master/src/assets/img/flower.jpg?raw=true">
    </div>

</div>