#dropdown{
    height: 101vh;
    position: fixed;
    top: 0;
    font-size: xx-large;
    z-index: 1050;
}

.backdrop{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 1000vh;
    backdrop-filter: blur(5px);
}

.main-container{
    background-color: D4EAF7;
    margin: 4rem 0;
}

img {
    border-radius: 50%;
  }
