<div class="navbar fixed-top w-100 pb-0">
  <button class="btn pl-0" (click)="toggleMenu()">
    <svg style="fill: #1A1423" viewBox="0 0 100 80" width="30" height="30">
      <rect rx="10" ry="10" width="100" height="10"></rect>
      <rect y="30" rx="10" ry="10" width="100" height="10"></rect>
      <rect y="60" rx="10" ry="10" width="100" height="10"></rect>
    </svg>  
  </button>
</div>


    <div id="dropdown" class="bg-white" [@slideInOut]="menuState">
      <ul class="text-right list-group list-group-flush">
        <li (click)="toggleMenu()" class="p-2 list-group-item" routerLink="start" routerLinkActive="active">Start</li>
        <li (click)="toggleMenu()" class="p-2 list-group-item" routerLink="schema" routerLinkActive="active">Program</li>
        <li (click)="toggleMenu()" class="p-2 list-group-item" routerLink="boende" routerLinkActive="active">Boende</li>
        <li (click)="toggleMenu()" class="p-2 list-group-item" routerLink="personer" routerLinkActive="active">Personer</li>
        <li (click)="toggleMenu()" class="p-2 list-group-item" routerLink="spex" routerLinkActive="active">Framträdanden</li>
        <li (click)="toggleMenu()" class="p-2 list-group-item" routerLink="dresscode" routerLinkActive="active">Dresscode</li>
        <li (click)="toggleMenu()" class="p-2 list-group-item" routerLink="present" routerLinkActive="active">Gåvor</li>
        <li (click)="toggleMenu()" class="p-2 list-group-item" routerLink="ovrigt" routerLinkActive="active">Övrigt</li>

      </ul>
    </div>

    <div class="main-container">
      <router-outlet></router-outlet>
  </div>

<ng-container *ngIf="menuState==='in'" > 
  <div class="backdrop" (click)="toggleMenu()"></div> 
</ng-container>

