   
        <div class="h1">FREDAGEN 6 AUG</div>
<div>BBQ OCH MINGEL</div><br>
Vi ser gärna att så många som möjligt av er väljer att checka
in på Toftaholm Herrgård redan på fredagen.
Under fredagskvällen anordnar vi en gemensam middag på
herrgården för att ge möjlighet till er att lära
känna varandra och för att vi ska få umgås mer er ännu mer.
Beroende på väder och vind så vet vi inte exakt hur
upplägget kommer se ut, men man äter och dricker efter
eget önskemål och betalar för detta till herrgården (se prisinfo under <a href="./boende">boende</a>).
Vår förhoppning är att Småland kommer bjuda på en härlig,
varm sommarkväll som möjliggör en barbeque, beachvolleyboll, spabad eller kvällsbad i
sjön!<br><br>
 
<div class="m-3">
        <img src="././assets/img/wedding.jpg">
    </div>
    <br>
        <div class="h1">LÖRDAGEN 7 AUG</div>
        <div>BRÖLLOPSDAGEN</div><br>

            14:00 Vigsel<br>
            16:00 Brudskål<br>
            17:30 Middag<br>
            22:00 Dans<br>
            01:00 Stänger baren<br><br>
            
            Vigseln börjar 14.00
            i ...<br>
            På plats i Herrgården kommer värdparet, Sarah och Peter Eriksson Öster se
            till att alla hittar till kyrkan, till era sittplatser och
            tillbaka.
            Efter vigseln nalkas mingel och brudskål på terrassen och
            mingel. Här serveras bubbel, kaka och snittar.
            Därefter bjuds det på en trerätters middag och dryck
            under hela kvällen.<br><br>
            <div class="m-3">
                <img src="././assets/img/middag.jpg">
            </div>
        <div class="h1 pt-3">SÖNDAGEN 8 AUG</div>
AVSKEDSBRUNCH<br><br>
Mellan 08:30 - 10:30 serveras brunch och vi samlas på terrasen när gårdagens
bubbel runnit ur oss! Rummen ska checkas ut kl 11:00.
<div class="m-3">
        <img src="././assets/img/happi.jpg">
    </div>