

<div class="container-content">
    <div class="m-3">
        <img style="width: 100%; height: 100%" src="https://github.com/skempas/isabelle-och-oskar/blob/master/src/assets/img/flower.jpg?raw=true">
        </div>
    <div class="card m-3">
        <div class="h1  text-center">FREDAGEN 6 AUG</div>

        <div class="card-body">
            
<div>BBQ OCH MINGEL</div>
Vi ser gärna att så många som möjligt av er väljer att checka
in på Möckelsnäs Herrgård redan på fredagen.
Under fredagskvällen anordnar vi en gemensam middag på
herrgården stenterass, för att ge möjlighet till er att lära
känna varandra och för att vi ska få umgås mer er ännu mer!.
Beroende på väder och vind så vet vi inte exakt hur
upplägget kommer se ut, men man äter och dricker efter
eget önskemål och betalar för detta till herrgården.
Vår förhoppning är att Småland kommer bjuda på en härlig,
varm sommarkväll sommarkväll som möjliggör en barbeque
på terrassen och boule spel och ett och annat kvällsbad i
sjön!
        </div>
    </div>
    <div class="m-3">
        <img style="width: 100%; height: 100%" src="https://github.com/skempas/isabelle-och-oskar/blob/master/src/assets/img/flower.jpg?raw=true">
        </div>
    <div class="card m-3">
        <div class="h1  text-center">BRÖLLOPSDAGEN</div>
        <div class="card-body">
            
            <div>VIGSEL OCH BRÖLLOPSFEST</div>
            <div>INNAN VIGESELN</div>
            Vi bor precis vid sjön Möckeln och skiner solen så kan
            man sola och bada på herrgårdens egen strand och
            brygga. I området finns många fina vandringsstråk och
            naturresarvat för den som vill ut på en löprunda men
            annars finns diverse spel att låna ut: Plockepinn (stort
            för utebruk) Kubb, Boule, Kasta hästsko, Krocket, Yatzy
            (stort för utebruk)

            <div>VIGSEL OCH BRÖLLOPSFEST</div>
            <div>Lördagen den 7 Augusti
            Vigseln börjar 14.00
            i Stenbrohults kyrka</div>
            På plats i Herrgården kommer värdparet, Sarah och
            Peter Eriksson Öster(LÄNKA:VIKTIGA PERSONER) se
            till att alla hittar till kyrkan, till era sittplatser och
            tillbaka.
            Efter vigseln tar vi oss tillbaka till Herrgården(knappt 5
            min bilfärd bort) för brudskål på stenterrassen och
            mingel, Här serveras bubbel, kaka och snittar .
            Därefter bjuds det på en trerätters middag och dryck
            under hela kvällen.
        </div>
    </div>
    <div class="m-3">
        <img style="width: 100%; height: 100%" src="https://github.com/skempas/isabelle-och-oskar/blob/master/src/assets/img/flower.jpg?raw=true">
        </div>
    <div class="card m-3">
        <div class="h1 text-center">SÖNDAGEN, 8AUG.</div>
        <div class="card-body">
AVSKEDSBRUNCH
Mellan xx:xxx- xx:xx serveras brucnh och vi samlas på terrasen när gårdagens
bubbel runnit ur oss! Rummen ska checkas ut kl Xx:xx men vi kommer ha
tillgång till strandkanten, och bla bla bla fram tills :
        </div>
    </div>
    <div class="m-3">
        <img style="width: 100%; height: 100%" src="https://github.com/skempas/isabelle-och-oskar/blob/master/src/assets/img/flower.jpg?raw=true">
        </div>
</div>