

<div class="container-content">
    
                <div class="h1">VIKTIGA PERSONER</div><br>
<div>CAMILLA WEDENSTAM <br>- <br>TOASTMADAME</div><br>
Tar emot talanmälningar (dvs, spex, sång, tal, allt som
önskas framföra undr bröllopsmiddagen) via: <br><br>
<div>SARAH & PETER <br>ERIKSSON-ÖSTER <br>-<br> VÄRDPAR</div>
Tar emot och tar hand om gästerna under bröllopsdagen,
tex: vid kyrkan och vid herrgården för brudskål!

<div>ALLA anmälningar går till dessa tre, var för
    deras skull tydlig med:
    Osa: ja nej, med namn på vem /vilka
    Ange: Specialkoster, dricker du alkohol: ja/nej
    Önskar hålla tal/spex: ja(utveckla
    vad)/nej/kanske
    Bröllis2021@bröllis.com</div>
DAG SÖDERBERG <br>-<br> BESTMAN<br><br>
SOFIA KEMPAS <br>-<br> MAID OF HONOR<br><br>
JULIA FALKMAN <br>-<br> MAID OF HONOR<br><br>
LYDIA SJÖBERG <br>-<br> MAID OF HONOR<br><br>
LINA NIKLASSON <br>-<br> MAID OF HONOR<br><br>
ELLINOR BOSTRÖM <br>-<br> MAID OF HONOR<br><br>
PONTUS LÖFGREN <br>-<br> MAN OF HONOR<br><br>
     

   
        <div >
            Bild på poppi här
        </div>


</div>