<div class="h1">VIKTIGA PERSONER</div><br>
<div>CAMILLA WEDENSTAM <br> TOASTMADAME</div>
<div class="m-3">
    <img src="././assets/img/camilla.jpg">
</div>
<div class="m-3">Tar hand om anmälan till framträdanden, spex och tal. För mer info, gå in <a href="./spex">här</a>. <br><br>
</div>

<div>SARAH & PETER <br>ERIKSSON-ÖSTER <br> VÄRDPAR</div>
<div class="m-3">
    <img src="././assets/img/sop.jpg">
</div>

<div class="m-3">
Tar emot 
och tar hand om gästerna under bröllopsdagen,
tex: vid kyrkan och vid herrgården för brudskål!
</div>
<br>
DAG SÖDERBERG <br> BESTMAN
<div class="m-3">
    <img src="././assets/img/dag.png">
</div>
<br>
SOFIA KEMPAS <br> MAID OF HONOR
<div class="m-3">
    <img src="././assets/img/sofia.jpg">
</div>
<br>
JULIA FALKMAN <br> MAID OF HONOR
<div class="m-3">
    <img src="././assets/img/julia.jpg">
</div>
<br>
LYDIA SJÖBERG <br> MAID OF HONOR
<div class="m-3">
    <img src="././assets/img/lydde.jpg">
</div>
<br>
LINA NIKLASSON <br> MAID OF HONOR
<div class="m-3">
    <img src="././assets/img/lina.png">
</div>
<br>
ELLINOR BOSTRÖM <br> MAID OF HONOR
<div class="m-3">
    <img src="././assets/img/elli.jpg">
</div>
<br>
PONTUS LÖFGREN <br> MAN OF HONOR
<div class="m-3">
    <img src="././assets/img/pontus.jpg">
</div>