

<div class="container-content">
    <div class="m-3">
        <img style="width: 100%; height: 100%" src="https://github.com/skempas/isabelle-och-oskar/blob/master/src/assets/img/flower.jpg?raw=true">
        </div>
        <div class="card main-card m-3">
            <div class="card-body text-center">
                <div>VIKTIGA PERSONER</div>
<div>CAMILLA WEDENSTAM- TOASTMADAME</div>
Tar emot talanmälningar (dvs, spex, sång, tal, allt som
önskas framföra undr bröllopsmiddagen) via:
<div>SARAH & PETER ERIKSSON-ÖSTER- VÄRDPAR</div>
Tar emot och tar hand om gästerna under bröllopsdagen,
tex: vid kyrkan och vid herrgården för brudskål!

<div>ALLA anmälningar går till dessa tre, var för
    deras skull tydlig med:
    Osa: ja nej, med namn på vem /vilka
    Ange: Specialkoster, dricker du alkohol: ja/nej
    Önskar hålla tal/spex: ja(utveckla
    vad)/nej/kanske
    Bröllis2021@bröllis.com</div>
DAG SÖDERBERG - BESTMAN<br>
SOFIA KEMPAS - MAID OF HONOR<br>
JULIA FALKMAN -MAID OF HONOR<br>
LYDIA SJÖBERG - MAID OF HONOR<br>
LINA NIKLASSON - MAID OF HONOR<br>
ELLINOR BOSTRÖM - MAID OF HONOR<br>
PONTUS LÖFGREN - MAN OF HONOR<br>
            </div>
        </div>

    <div class="card sub-card m-3">
        <div class="card-body">
            Bild på poppi här
        </div>
    </div>
    <div class="m-3">
    <img style="width: 100%; height: 100%" src="https://github.com/skempas/isabelle-och-oskar/blob/master/src/assets/img/flower.jpg?raw=true">
    </div>

</div>