            <div class="text-center">
        
                <div class="h1">HJÄRTLIGT VÄLKOMNA TILL BRÖLLOP</div>
    
                     MELLAN
                <div class="pt-2 font-weight-bold cursive-name">Isabelle Boström</div>
                <div class="font-weight-bold cursive-name">&</div>
                <div class="pb-3 font-weight-bold cursive-name">Oskar Paulsson</div>
                <div>LÖRDAGEN DEN 7E AUGUSTI 2021 <br>KL 14:00</div>
                <div>I 
                    <a href="https://goo.gl/maps/Px5gypJQbAWST3af8">STENBROHULTS KYRKA</a>
                    , ÄLMHULT</div><br>
                <div>DÄREFTER BLIR DET BRÖLLOPSFEST MED MIDDAG, MUSIK OCH DANS
                    PÅ 
                    <a href="https://goo.gl/maps/3Usi34My56wuNEr77">MÖCKELSNÄS HERRGÅRD</a>

                    
                </div><br>
                <div>OSA SENAST 16/4 2021 TILL: </div> 
             <a href="mailto:isabelleoskarbrollop@gmail.com">ISABELLEOSKARBROLLOP@GMAIL.COM</a>   
                <div>
                    Glöm inte att ange eventuell specialkost och om du önskar alkoholfritt.
                </div>
                <div>Boka boende senast den 16/4 för att nyttja erbjudandet och säkerställa att plats finns</div>
            
            <div class="pt-3">
                Lördagen den 7e augusti kommer vigsel och bröllopsfesten hållas, 
                men vi hoppas att så många som möjligt kan komma redan på fredagen - 
                för att vi ska få ännu mer tid ihop med var och en av er! <br>
                På fredagen ska vi bara umgås, och förutom en förhoppningsvis förgylld dag sol och bad, 
                kommer det även vankas buffé och en och annan drink i trevligt sällskap.
                Ett tillfälle att lära känna de andra gästerna och och komma i god stämning!
                Mer info om schemat finns <a href="/schema">här</a>.
            </div>
            
            </div>

    <div class="m-3">
        <img src="././assets/img/io.JPG">
    </div>
    <div class="row no-gutters mt-4">
        <div class="col-12">Tid kvar:</div>
        <div class="col-3">Dagar</div>
        <div class="col-3">Timmar</div>
        <div class="col-3">Minuter</div>
        <div class="col-3">Sekunder</div>
        <div class="col-3">{{_days}}</div>
        <div class="col-3">{{_hours}}</div>
        <div class="col-3">{{_minutes}}</div>
        <div class="col-3">{{_seconds}}</div>
        
    </div>