

<div class="container-content">
        <div class="m-3">
            <div class="text-center">
        
                <div class="h1">VARMT VÄLKOMNA TILL VIGSEL</div>
    
                     MELLAN
                <div>Isabelle Boström</div>
                <div>&</div>
                <div>Oskar Paulsson</div>
                <div>AUGUSTI 7, 2021 <br> - <br>14:00</div>
                <div>Stenbrohults kyrka, Älmhult</div>
                <div>OSA senast : XX/XX-2021 </div>          
            </div>
        </div>

    <div class="m-3">
            <img src="../../assets/img/io.JPG">
    </div>
    <div class="row no-gutters mt-4">
        <div class="col-12">Tid kvar:</div>
        <div class="col-3">Dagar</div>
        <div class="col-3">Timmar</div>
        <div class="col-3">Minuter</div>
        <div class="col-3">Sekunder</div>
        <div class="col-3">{{_days}}</div>
        <div class="col-3">{{_hours}}</div>
        <div class="col-3">{{_minutes}}</div>
        <div class="col-3">{{_seconds}}</div>
        
    </div>
</div>


