

    <div class="m-3">
    
                <div class="h1">BOENDE</div>
                <br>
<div>TOFTAHOLM HERRGÅRD</div>
<div class="m-3">
    <img src="././assets/img/herrgard.jpg">
</div>
Toftaholm herrgård hyser rum för alla våra gäster, om ni önskat bo över där. 
För att slippa boka natt-taxi, och för att få en familjär stämning med gångavstånd till rummet uppmuntrar vi detta magiska ställe!
<br><br>
Toftaholm har 90+ bäddar, med allt ifrån enkel-, dubbel- till familjerum. 
Ni behöver som sagt boka denna senast sista April, därefter är rummen bokningsbara för andra gäster och kan gå åt.
<br><br>
Toftaholm har satt ihop ett bröllopserbjudande för denna helgen för oss, man får välja själv om man stannar 1 eller 2 nätter.
<br><br>
Ange att ni är gäster till Isabelle och Oskars bröllop 7 augusti när ni kontaktar Toftaholm Herrgård för att boka boende. 
Kontaktuppgifter finns på <a href="https://www.toftaholm.se">www.toftaholm.se</a>
<br><br>
<div class="font-weight-bold pb-3">För att ta del av erbjudandet MÅSTE rummet bokas innan den sista April.</div>
Välj mellan en eller två nätter:<br>
1. Logi natten fredag till lördag inklusive barbeque och frukost: 
995:- / per person i dubbelrum (enkelrumstillägg 300:-) <br>
2. Logi natten lördag till söndag inklusive frukost: 850:- per person i dubbelrum (enkelrumstillägg 300:-)
<br><br>
Vi bor precis vid sjön och skiner solen så kan man sola och bada på herrgårdens egen strand och brygga. 
I området finns många fina vandringsstråk och naturreservat för den som vill ut på en löprunda men annars finns diverse aktiviteter såsom kajak, beach volleyboll, badminton men också spel såsom Boule, Kasta hästsko, Krocket, Yatzy etc etc. 
Herrgården hyser också inne och ute spa med jacuzzi, badtunna och bastu som går att boka. 
</div>