

<div class="container-content">
    <div class="m-3">
    
                <div class="h1">BOENDE OCH INFO</div>
                <br>
<div>MÖCKELSNÄS HERRGÅRD</div>
<div class="m-3">
    <img src="../../assets/img/herrgard.jpg">
</div>
Vi har med mening valt Möckelsnäs herrgård då de
hyser rum för alla våra gäster, om ni önskat bo över
där. För att slippa boka natttaxis, familjärare stämning
och gångavstånd till rummet.
<br><br>
Möckelsnäs har 100+ bäddar, med allt ifrån enkel,
dubbel till familjerum- Vissa rum har även hundtillåtet
men med det sagt så är det inga hundar välkomna på
bröllopsfesten.<br><br>
BOKA VIA : uppge koden X för att få X rabatt på
rummet.       
            </div>
        </div>

 
    
