

    <div class="m-3">
    
                <div class="h1">BOENDE OCH INFO</div>
                <br>
<div>MÖCKELSNÄS HERRGÅRD</div>
<div class="m-3">
    <img src="././assets/img/herrgard.jpg">
</div>
Vi har med mening valt Möckelsnäs herrgård då de
hyser rum för alla våra gäster, om ni önskat bo över
där. För att slippa boka natt-taxi, familjärare stämning
och gångavstånd till rummet.
<br><br>
Möckelsnäs har 100+ bäddar, med allt ifrån enkel-,
dubbel- till familjerum. Vissa rum har även hundtillåtet
men med det sagt så är det inga hundar välkomna på
bröllopsfesten.<br><br>

Möckelsnäs har satt ihop ett bröllopserbjudande för denna helgen för oss, 
man får välja själv om man stannar 1 eller 2 nätter. <br><br>

Ange att ni är gäster till Isabelle och Oskars bröllop 7 augusti när ni
kontaktar Möckelsnäs Herrgård för att boka boende. Kontaktuppgifter finns på <a href="https://www.mockelsnasherrgard.se/">www.mockelsnasherrgard.se</a><br><br>

<div class="font-weight-bold pb-3">För att ta del av erbjudandet MÅSTE rummet bokas innan den sista April.</div>
 
Välj mellan en eller två nätter:

<div class="font-weight-bold pt-3">Bröllopspaketet två nätter</div>
Logi 2 nätter inkl. frukost<br>
Fredagens grillbuffé (se meny <a href="./menu">här</a>) <br>
Dubbelrum (2p)         3.940 kr<br>
Enkelrum    (1p)         2.880 kr<br><br>

<div class="font-weight-bold">Bröllopspaketet en natt</div>
Logi en natt inkl. frukost<br>
Dubbelrum (2p)        1.575 kr<br>
Enkelrum    (1p)        1.245 kr<br>

<div>
    <div>Övrigt</div><br>
            Vi bor precis vid sjön Möckeln och skiner solen så kan
            man sola och bada på herrgårdens egen strand och
            brygga. I området finns många fina vandringsstråk och
            naturreservat för den som vill ut på en löprunda men
            annars finns diverse spel att låna ut: Plockepinn (stort
            för utebruk), Kubb, Boule, Kasta hästsko, Krocket, Yatzy
            (stort för utebruk)<br><br>
</div>
</div>