/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #E8F3F9;
  }

  .container-content{
      font-size: 1.5rem;
      text-align: center;
      margin: 0 1rem;
  }

  img{
    width: 100%;
    height: 100%;   
    }